/* Make sure we work fullscreen and without scrollbars */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Global snippets */

.expand {
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    border-width: 0;
    top: 0;
    left: 0;
}

/***************
 *
 * WIDGETS
 *
 ****************/

/* Scope */

.scope {
    background-color: #000!important;
}

.scope > .knobs {
    width: 150px;
}

.scope > .knobs > .slider {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Video */

.video img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 50px;
    bottom: 0;
    left: 0;
}

/***************
 *
 * COMPONENTS
 *
 ****************/

/* Slider */

.slider > .title {
    margin-top: 14px;
}

