<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

        {{! Bootstrap lightweight configuration without lazy-loading to speed it up }}
        <script type="text/javascript">
            var Config = JSON.parse('{{{config}}}');
        </script>

        <link rel="stylesheet" href="vendor/normalize.css">
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="vendor/jquery-ui.css">
        <link rel="stylesheet" href="vendor/jquery.gridster.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript"
                src="vendor/requirejs/require.js"
                data-main="js/main">
        </script>

    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <header class="navbar">
                <a class="navbar-brand" href="#">LabStream</a>
            </header>

            <div class="widgets gridster">

                {{#with sidebar}}
                    {{> widget_header}}
                        <div class="sidebar">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">6</span>
                                        Widgets
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">2</span>
                                        Sources
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">134</span>
                                        Users
                                </li>
                            </ul>
                        </div>
                    {{> widget_footer}}
                {{/with}}

                {{#each widgets}}
                    {{> widget_header}}
                        This is a test widget.
                    {{> widget_footer}}
                {{/each}}

            </div>

        </div>

    </body>

</html>
